/**/
    #minuteStr {
        color: #00e2d7;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #0400ff;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
        overflow-wrap: break-word;
    }

  /*  #At {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        position:absolute; top:500px; 
        left:10px; right:10px;
        font-weight:bold ;
    }*/

      #remain {
        color: #a80909;
        font-size: 20px;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        font-weight:bold ;
    }
    
    #stop{
            color:#ffdddd;
            font-size: 70px;
            text-align: center;
            position:absolute; top:550px; 
            left:10px; right:10px;
            font-weight:bold ;

        }

    #half{
                color:#ff0000;
                font-size: 70px;
                text-align: center;
                position:absolute; top:500px; 
                left:10px; right:10px;
                font-weight:bold ;

            }
    #time {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow: 5px 5px 5px;
        width: 50%;margin: 0 outo;
    }
    
    #mycanvas {
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        font-size: 40px;
        position:absolute; top:380px; left:2%; width:43%; height:70px; 
        background-color: rgb(255, 255, 255);color: rgb(96, 183, 255);
    }
    
    #btnB {
        font-size: 40px;
        position:absolute; top:380px; left:45%; width:25%; height:70px; 
        background-color: rgb(62, 13, 13);color: rgb(55, 204, 231);
    }

    #btnC {
        font-size: 40px;
        position:absolute; top:380px; left:70%; width:28%; height:70px; 
        background-color: rgb(255, 255, 255);color: rgb(219, 94, 136);
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}

    body{
        background-color: #c0d1ff;
    }

    /* .bcolor{
    background: rgb(27, 76, 255);
    } */

    button{
        color: rgb(223, 255, 135);
        font-family: Times; 
        border-radius:50px ;
    }